body {
  background: linear-gradient(
    96.2deg,
    rgb(255, 230, 112) 10.4%,
    rgb(255, 100, 100) 43.8%,
    rgb(0, 93, 219) 105.8%
  );
}

a {
  color: #9670f4;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
