.Phonetic-button {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.Phonetic-button :hover {
  background: #956196;
  color: #ffc108;
}

.Phonetic .text {
  opacity: 0.5;
  font-weight: bold;
}
