.synonyms-section {
  text-align: center;
  margin: 20px 0;
}

.synonyms li {
  display: inline-block;
  border: 1px solid #889eaf;
  padding: 8px;
  margin: 10px;
  border-radius: 16px;
}
.Synonyms section {
  margin: 20px 0;
}
